# .gitignore

# Arquivos de banco de dados local SQLite
*.db
*.sqlite
*.sqlite3
agenda.db

# Caches e arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pastas de ambiente virtual
.venv
venv
env

# Arquivos de sistema operacional
.DS_Store
Thumbs.db
